<style>
  .sell-point-slider{
    padding: 80px 0;
    background: #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.sell-point-slider .title-diy{
    color: #fff;
}

.sell-point-slider .sell-point-slider-p{
    font-size: 18px;
    color: #8b8b8b;
    max-width: 490px;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
    margin-top: 30px;
}

.sell-point-slider .sell-point-slider-cont{
    width: 45.8%;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
}

.sell-point-slider .sell-point-slider-list{
    display: flex;
}
.sell-point-slider .sell-point-slider-item{
    position: relative;
    flex-shrink: 0;
    margin-right: 30px;
    width: 100%;
}

.sell-point-slider .sell-point-slider-item img{
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.sell-point-slider .img-item{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    transition: all .4s ease;
}
.sell-point-slider .img-item.active{
    position: relative;
    opacity: 1;
    z-index: 2;
}
.sell-point-slider .img-item-txt{
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 0;
    font-size: 18px;
    padding: 0 30px;
    width: 100%;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.sell-point-slider .img-item-p:nth-child(2){
    font-size: 25px;
}
.sell-point-slider .img-item-p:last-child{
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
}
.sell-point-slider .img-item-tab{
    position: absolute;
    width: 430px;
    height: 45px;
    max-width: 90%;
    left: 50%;
    top: 50px;
    z-index: 3;
    border: 2px solid #fff;
    border-radius: 45px;
    display: flex;
    transform: translateX(-50%);
}

.sell-point-slider .img-item-tab-item{
    position: relative;
    flex: 1;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: all .4s ease;
}
.sell-point-slider .img-item-tab-item.active{
    color: #000;
}

.sell-point-slider .img-item-tab-span{
    position: absolute;
    width: calc(33.333% + 3px);
    height: calc(100% + 2px);
    border-radius: 45px;
    margin-left: -1px;
    top: -1px;
    background: #fff;
}

.sell-point-slider .sell-point-slider-item::before{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 1;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
}

.sell-point-slider .sell-point-slider-item.active::before{
    opacity: 0;
}

.sell-point-slider .sell-point-slider-item img{
    position: relative;
    z-index: 1;
    width: 100%;
}

.sell-point-slider .sell-point-slider-txt{
    position: absolute;
    padding: 35px 30px;
    left: 0;
    bottom: 0;
    z-index: 2;
    color: #fff;
    display: flex;
}

.sell-point-slider .sell-point-slider-num{
    font-size: 20px;
    font-weight: bold;
}

.sell-point-slider .sell-point-slider-sub{
    font-size: 18px;
    line-height: 1.4;
    border-left: 1px solid #fff;
    margin-left: 10px;
    padding-left: 10px;
    max-width: 560px;
}

.sell-point-slider .sell-point-slider-arraw{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    top: 50%;
    transform: translateY(-50%);
    margin-top: -35px;
    z-index: 2;
    pointer-events: none;
}

.sell-point-slider .sell-point-slider-arraw-item{
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    pointer-events: all;
}

.sell-point-slider .sell-point-slider-arraw-item:hover{
    background: #000;
}

.sell-point-slider .sell-point-slider-arraw-item::before{
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    top: 50%;
    left: 50%;
    margin-left: 2px;
    transform: translate(-50% , -50%) rotate(-45deg);
    transition: all .4s ease;
}
.sell-point-slider .sell-point-slider-arraw-item:hover::before{
    border-color: #fff;
}
.sell-point-slider .sell-point-slider-arraw-item:last-child{
    transform: scale(-1,-1);
}

.sell-point-slider .sell-point-slider-dot{
    display: flex;
    background: #1a1a1a;
    height: 2px;
    margin-top: 70px;
}
.sell-point-slider .sell-point-slider-dot-item{
    flex: 1;
}

.sell-point-slider .sell-point-slider-dot-item {
  flex: 1;
  height: 2px;
  position: relative;
}
.sell-point-slider .sell-point-slider-dot-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
}

.sell-point-slider .sell-point-slider-dot-item.active::before {
  width: 100%;
}
.sell-point-slider .sell-point-slider-dot-item.active.tra::before {
  transition: width .4s linear;
}

/* .sell-point-slider .sell-point-slider-dot-item.active{
    background: #fff;
} */

@media (max-width:1500px) {
    .sell-point-slider .sell-point-slider-cont{
        width: 60%;
    }
    .sell-point-slider .sell-point-slider-txt{
        padding: 30px 20px;
    }
}

@media (max-width:991px) {
    .sell-point-slider .sell-point-slider-p{
        margin-top: 20px;
    }
    .sell-point-slider .sell-point-slider-num{
        font-size: 16px;
    }
    .sell-point-slider .sell-point-slider-sub{
        font-size: 14px;
    }
    .sell-point-slider .img-item-tab-item{
        font-size: 14px;
    }
    .sell-point-slider .img-item-tab{
        height: 40px;
        top: 15px;
    }
    .sell-point-slider .img-item-txt{
        font-size: 16px;
        bottom: 20px;
    }
    .sell-point-slider .img-item-p:nth-child(2){
        font-size: 20px;
    }
    .sell-point-slider .img-item-p:last-child{
        font-size: 14px;
    }
    .sell-point-slider .sell-point-slider-dot{
        margin-top: 40px;
    }
    .sell-point-slider .sell-point-slider-arraw{
        display: none;
    }
}

@media (max-width:740px) {
    .sell-point-slider{
        padding: 50px 0;
    }
    .sell-point-slider .sell-point-slider-cont{
        width: 90%;
        margin-top: 40px;
    }

    .sell-point-slider .img-item-p:nth-child(1),
    .sell-point-slider .img-item-p:nth-child(2){
        display: none;
    }
}
</style>
<section class="section-box">
  <div class="sell-point-slider route-name2">
    <div class="container"> 
      <div class="title-diy text-top">{{ section.settings.title }}</div>
      <div class="sell-point-slider-p text-top">
        {{ section.settings.text }}
      </div>
    </div>
    <div class="sell-point-slider-cont">
       <div class="sell-point-slider-list">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {% when 'item' %}
              <div class="sell-point-slider-item to-top" style="transition-delay: .{{forloop.index}}s">
                {%- if block.settings.image != blank -%}
                    <img loading="lazy" width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}" {% render 'image-attributes' , image: block.settings.image %}
                    alt="{{ block.settings.image.alt | escape }}">
                {%- endif -%}
                <div class="sell-point-slider-txt">
                  <div class="sell-point-slider-num">{{ block.settings.text }}</div>
                  <div class="sell-point-slider-sub">{{ block.settings.text1 }}</div>
                </div>
              </div>
              {% when 'multiple' %}
                <div class="sell-point-slider-item sell-point-slider-other to-top" style="transition-delay: .3s">
                  {%- if block.settings.image != blank -%}
                    <div class="img-item active">
                      <img loading="eager" width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}" {% render 'image-attributes' , image: block.settings.image %}
                        alt="{{ block.settings.image.alt | escape }}">
                      <div class="img-item-txt">
                        <div class="img-item-p">{{ block.settings.text }}</div>
                        <div class="img-item-p">{{ block.settings.text1 }}</div>
                        <div class="img-item-p">{{ block.settings.text2 }}</div>
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.image1 != blank -%}
                    <div class="img-item">
                      <img loading="eager" width="{{ block.settings.image1.width }}"
                        height="{{ block.settings.image1.height }}" {% render 'image-attributes' , image: block.settings.image1 %}
                        alt="{{ block.settings.image1.alt | escape }}">
                      <div class="img-item-txt">
                        <div class="img-item-p">{{ block.settings.text3 }}</div>
                        <div class="img-item-p">{{ block.settings.text4 }}</div>
                        <div class="img-item-p">{{ block.settings.text5 }}</div>
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.image2 != blank -%}
                    <div class="img-item">
                      <img loading="eager" width="{{ block.settings.image2.width }}"
                        height="{{ block.settings.image2.height }}" {% render 'image-attributes' , image: block.settings.image2 %}
                        alt="{{ block.settings.image2.alt | escape }}">
                      <div class="img-item-txt">
                        <div class="img-item-p">{{ block.settings.text6 }}</div>
                        <div class="img-item-p">{{ block.settings.text7 }}</div>
                        <div class="img-item-p">{{ block.settings.text8 }}</div>
                      </div>
                    </div>
                  {%- endif -%}
                  <div class="img-item-tab">
                    <div class="img-item-tab-item active">{{ block.settings.text9 }}</div>
                    <div class="img-item-tab-item">{{ block.settings.text10 }}</div>
                    <div class="img-item-tab-item">{{ block.settings.text11 }}</div>
                    <div class="img-item-tab-span"></div>
                  </div>
              </div>
            {% endcase %}
          {%- endfor -%}
        
       </div>
       <div class="sell-point-slider-arraw to-opacity">
        <div class="sell-point-slider-arraw-item"></div>
        <div class="sell-point-slider-arraw-item"></div>
       </div>
       <div class="sell-point-slider-dot to-top">
        {%- for block in section.blocks -%}
          <div class="sell-point-slider-dot-item"></div>
        {%- endfor -%}
       </div>
    </div>
  </div>
</section>
<script>
  window.addEventListener('load',function(){
    $('html').on('click','.sell-point-slider .img-item-tab-item',function(){
      let index = $(this).index()
      let width = $(this).width()
      let translateX = index*width
      $(this).addClass('active').siblings().removeClass('active')
      $(this).closest('.sell-point-slider-item').find('.img-item').removeClass('active').eq(index).addClass('active')
      $('.sell-point-slider .img-item-tab-span').css({'transform': 'translateX('+translateX+'px)','transition': 'transform .4s'})
    })

    function mediaRealSlider1(name){
        let $p=$(name)
        let $list = $p.find('.sell-point-slider-list')
        let $bottomArrow = $p.find('.sell-point-slider-arraw')
        let length = $list.find('.sell-point-slider-item').length
        let index = -2 //[0,-length-2]
        let isLeftBtn = 1 //0左 1右
        let timer = null
        let timers = null
        let dateTb = 0
        let dateTs = 0
        if(length<2) return

        $list.html(
            $list.find('.sell-point-slider-item')[length-2].outerHTML+
            $list.find('.sell-point-slider-item')[length-1].outerHTML+
            $list.html()+
            $list.find('.sell-point-slider-item')[0].outerHTML+
            $list.find('.sell-point-slider-item')[1].outerHTML)
        skewTransform(true)
        changeDot()
        $p.find('.sell-point-slider-arraw-item').click(function() {
            let sIndex = $(this).index()
            if(+new Date() - dateTb<600) return
            dateTb = +new Date()
            isLeftBtn = sIndex
            index += sIndex ? -1 : 1
            changeLeft()
        })
        function skewTransform(auto,tIndex = index,skew=0){
            let width = $list.find('.sell-point-slider-item').eq(Math.abs(tIndex)-1).width()
            let translateX = (width + 30) * tIndex
            if(auto){
                translateX+=skew
                $list.css({
                    'transform': 'translateX(' + translateX  + 'px)',
                    'transition': ' all 0s ease'
                })
            }else{
                $list.css({
                    'transform': 'translateX(' + translateX + 'px)',
                    'transition': ' all .6s ease'
                })
            }
            $list.find('.sell-point-slider-item').removeClass('active')
            $list.find('.sell-point-slider-item').eq(Math.abs(tIndex)).addClass('active')
        }
        function changeLeft(skew) {
            if(isLeftBtn && index == (-length-2)){
                skewTransform(true,-1,skew)
                index = -2
            }

            if(!isLeftBtn && index == 0){
                skewTransform(true,-length-1,skew)
                index = -length
            }
            setTimeout(() => {
                skewTransform()
            }, 10);
            changeDot()
  }
        function changeDot(){
            // $p.find('.sell-point-slider-dot-item').removeClass('active tra')
            // setTimeout(() => {
                $p.find('.sell-point-slider-dot-item').each(function(){
                  console.log(index);
                  let $this =$(this)
                  let sIndex = $(this).index()
                  if(sIndex<Math.abs(index)-2){
                      $(this).addClass('active')
                  }else{
                    $(this).removeClass('active tra')
                  }
                  setTimeout(() => {
                    if(sIndex==(Math.abs(index)-2)){
                      $this.addClass('active tra')
                    }
                  }, 20);
            })
            if(index==-1){
              $p.find('.sell-point-slider-dot-item').addClass('active')
              $p.find('.sell-point-slider-dot-item').eq(length-1).addClass('active tra')
            }
            // }, 20);
        }
        function getTranslateX($element) {
            var matrix = $element.css('transform').replace(/[^0-9\-.,]/g, '').split(',');
            var translateX = parseFloat(matrix[12] || matrix[4]);
            return translateX;
        }
        function initMobileCarousel() {
            let startX = 0;
            let listTar = 0
            let startY = 0;
            let isScrolling = false;

            $list.on('touchstart', function(e) {
                var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                startX = touch.clientX;
                startY = touch.clientY;
                isScrolling = false;
                listTar = getTranslateX($list)
                clearInterval(timer)
                
            });

            $list.on('touchmove', function(e) {
                var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                var diffX = touch.clientX - startX;
                var diffY = touch.clientY - startY;
                var translateX = listTar + diffX;
                if(!isScrolling){
                    if (Math.abs(diffX) > Math.abs(diffY)) {
                        isScrolling = true;
                    }
                }
                
                if(isScrolling&&e.cancelable){
                    e.preventDefault();
                    $list.css({'transform': 'translateX(' + translateX + 'px)',    'transition': 'all 0s ease'});
                }
            });

            $list.on('touchend', function(e) {
                if (isScrolling) {
                    var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                    var diffX = touch.clientX - startX;
                    if (Math.abs(diffX) > window.innerWidth * 0.05) {
                        if (diffX > 0) {
                            index = index+1;
                            isLeftBtn = 0
                        } else {
                            index = index-1;
                            isLeftBtn = 1
                        }
                    }
                    changeLeft(diffX)
                }
                isScrolling = false;
            });
        }
        initMobileCarousel()
        function changeSellPointSlider($this){
          let width = $this.find('.img-item-tab-item').width()
          setTimeout(function(){
            let hover = $this.attr('data-hover')
            if(hover==1){
              return changeSellPointSlider($this)
            }
            let index = $this.find('.img-item.active').index()
            index ++
            if(index==3) index = 0
            $this.find('.img-item').removeClass('active').eq(index).addClass('active')
            $this.find('.img-item-tab-item').removeClass('active').eq(index).addClass('active')
            $this.find('.img-item-tab-span').css({'transform': 'translateX('+width*index+'px)','transition': 'transform .4s'})
            changeSellPointSlider($this)
          },2300)
        }
        $('.sell-point-slider-other').hover(function(){
          $(this).attr('data-hover',1)
        },function(){
          $(this).attr('data-hover',0)
        })
      $('.sell-point-slider-other').each(function(){
        $(this).attr('data-hover',0)
        changeSellPointSlider($(this))
      })
      
    }
    mediaRealSlider1('.sell-point-slider')
  })
</script>
{% schema %}
{
"name": "sell-point-slider-diy",
"class": "sell-point-slider-diy",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "text",
    "id": "text",
    "label": "Text"
  }
],
"blocks": [
  {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      }
    ]
  },
  {
    "name": "multiple",
    "type": "multiple",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text4",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text5",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "text6",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text7",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text8",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text9",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text10",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text11",
        "label": "Text"
      }
    ]
  }
],
  "presets": [
  {
    "name": "sell-point-slider-diy",
    "blocks": []
  }
]
}
{% endschema %}